.nav-bar.margin-bottom-3rem 
    .nav-bar-left   
        h1.nav-bar-left-item WeBook
    ul.nav-bar-right
        li.nav-bar-right-item 
            a(href="/") Home
        li.nav-bar-right-item 
            a(href="/blog") Feedbacks 
        li.nav-bar-right-item 
            a(href="/blog/new") Start Creating